KERNEL=="sr0", ACTION=="change", RUN+="/bin/bash /usr/bin/riplauncher '%N'"
KERNEL=="sr1", ACTION=="change", RUN+="/bin/bash /usr/bin/riplauncher '%N'"
KERNEL=="sr2", ACTION=="change", RUN+="/bin/bash /usr/bin/riplauncher '%N'"
KERNEL=="sr3", ACTION=="change", RUN+="/bin/bash /usr/bin/riplauncher '%N'"
KERNEL=="sr4", ACTION=="change", RUN+="/bin/bash /usr/bin/riplauncher '%N'"
KERNEL=="sr5", ACTION=="change", RUN+="/bin/bash /usr/bin/riplauncher '%N'"
KERNEL=="sr6", ACTION=="change", RUN+="/bin/bash /usr/bin/riplauncher '%N'"
KERNEL=="sr7", ACTION=="change", RUN+="/bin/bash /usr/bin/riplauncher '%N'"
KERNEL=="sr8", ACTION=="change", RUN+="/bin/bash /usr/bin/riplauncher '%N'"
KERNEL=="sr9", ACTION=="change", RUN+="/bin/bash /usr/bin/riplauncher '%N'"
